.wrapper {
  height: 100%;
  width: 100%;
  padding: 24px 8px;

  .content {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  .assistantAvatar,
  .spinWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinWrapper {
    width: 32px;
    height: 32px;
  }

  .assistantAvatar {
    .icon {
      position: relative;
      bottom: 2px;

      :global {
        .ant-spin-dot-item {
          background-color: #fff;
        }
      }
    }
  }
}
